%section.site_title
  %h1
    Yelp is the best way to find great local businesses
    = link_to("Sign Up Now!", sign_up_path)
  %p.sign_up
  %p.sign_in
    Have an account? Please
    = link_to("Sign In", sign_in_path)